/Users/christinasmith/Desktop/INFO\ 474/1_09 
/Users/christinasmith/Desktop/INFO\ 474/Admission_Predict.hyper 
/Users/christinasmith/Desktop/INFO\ 474/d3-histogram-example 
/Users/christinasmith/Desktop/INFO\ 474/examples 
/Users/christinasmith/Desktop/INFO\ 474/info474au19-lab1
/Users/christinasmith/Desktop/INFO\ 474/info474au19-lab3 
/Users/christinasmith/Desktop/INFO\ 474/lecture-10-1 
/Users/christinasmith/Desktop/INFO\ 474/lecture-10-3 
/Users/christinasmith/Desktop/INFO\ 474/Wk\ 4\ Animations 

